body {
  margin: 0;
  font-family: 'Krona One', sans-serif;                                                
  background-color: #1E1E1E;
}

/* Top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #F5E897;
}

.topnav p{
  float: left;
  color: #000000;
  margin-top: 27px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 36px;
}

.topnav img{
  float: left;
  padding: 14px 14px;
  display: block;
  max-width: 58px;
  max-height: 88.07px;
  width: auto;
  height: auto;
}
  
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  margin-top: 27px;
  padding: 22px 22px;
  text-decoration: none;
  font-size: 20px;
}

/* Map on index page */
.map{
  padding: 14px 14px;
  text-align: center;
  width: auto;
}

/* Top three boxes on index */
.topthree{
  display: flex;
  margin: auto;
  max-width: auto;
}

.topthree h2{
  text-decoration: underline;
}

.topthree article {
  margin: 40px;
  padding-left: 30px;
  background-color: #F5E897
}

.topthree article:nth-of-type(1){
  flex: 1;
}

.topthree article:nth-of-type(2){
  flex: 1;
}

.topthree article:nth-of-type(3){
  flex: 1;
}

/* Random box feature on index page */
.randombox{
  display: flex;
  margin-left: 200px;
}

.randombox article{
  margin-left: 100px;
  margin-top: 20px;
  padding: 10px;
}

.randombox p{
  color: white;
  width: auto;
}

.randombox h2{
  color: white;
  text-decoration: underline;
}

.randombox h3{
  margin-left: 20px;
}

.randombox button{
  margin-left: 135px;
  width: 100px;
}

.form-control{
  width: 100px;
}

.rad{
  margin-left: 22px;
}

.randombox article:nth-of-type(1){
  background-color: #F5E897;
  flex: .3;
}

.randombox article:nth-of-type(2){
  flex: 1.7;
}

/* Content on about page */
#aboutauthor{
  color: white;
  margin: 40px;
  padding: 40px;
  width: auto;
}

#aboutauthor h2{
  text-decoration: underline;
}

#aboutauthor img{
  padding: 14px 14px;
  float: left;
  border-radius: 30px;
}

#aboutauthor h3{
  text-decoration: underline;
}

.list{
  position: relative;
  left: 25px;
}

/* Contact question box on contact page */
.contactbox{
  background-color: #F5E897;
  margin: auto;
  position: relative;
  top: 70px;
  padding: 50px;
  text-align: left;
  width: 400px;
}

/* Bottom navigation bar */
.bottombar {
  background-color: #F5E897;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.botnav a {
  float: left;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 20px;
}

.socials p{
  float: right;
  color: #000000;
  margin-top: 20px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.socials img{
  float: right;
  padding: 14px 14px;
  display: block;
}




