body {
  margin: 0;
  font-family: 'Krona One', sans-serif;                                                
  background-color: #1E1E1E;
}
  
.topnav {
  overflow: hidden;
  background-color: #F5E897;
}

.topnav p{
  float: left;
  color: #000000;
  margin-top: 27px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 36px;
}

.topnav img{
  float: left;
  padding: 14px 14px;
  display: block;
  max-width: 58px;
  max-height: 88.07px;
  width: auto;
  height: auto;
}
  
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  margin-top: 27px;
  padding: 22px 22px;
  text-decoration: none;
  font-size: 20px;
}

.topthree{
  display: flex;
}

.topthree article {
  margin: 20px;
  padding: 20px;
  background-color: #F5E897
}

.botnav {
  background-color: #F5E897;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.botnav a {
  float: left;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.socials p{
  float: right;
  color: #000000;
  margin-top: 20px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.socials img{
  float: right;
  padding: 14px 14px;
  display: block;
}

.randombox{
  display: flex;
}

.randombox article{
  margin: 20px;
  padding: 20px;
}

.randombox p{
  color: white
}

.randombox h2{
  color: white
}

.randombox article:nth-of-type(1){
  background-color: #F5E897;
}